.footer {
    padding-block: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width:900px) {
    .footer {
        margin-block: 20px;
        flex-direction: row;

    }
}